.carousel-item {
  height: 94vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .d-md-block {
    display: block!important;
  }
  .display-4 {
    font-size: x-large;
  }
  .lead {
    font-size: medium;
  }
}